
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
  font-family: Helvetica, sans-serif;
  text-shadow: 2px 1px rgba(200,200,200, 0.2);
  margin: 20px;
}

#subtitle {
  margin: 10px;
}
