.button-grey {
  padding: 15px 25px;
  border-radius: 5px;
  border-style: solid 3px;
  border-color: grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: lightgrey;
}

.button-grey:hover {
  color: grey;
}
